<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>文件上传</title>
        
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
  
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/ajaxfileupload.js">
    <script type="text/javascript" src="ajaxfileupload.js"></script>
    <script type="text/javascript">
       function ajaxFileUpload()
               {
                  $.ajaxFileUpload
                     (
                       {
                            url:'/upload', //你处理上传文件的服务端
                            secureuri:false,
                            fileElementId:'img',
                            dataType: 'json',
                            success: function (data)
                                  {
                                    alert(data);
                                  }
                               }
                         )

                       return false;
                 } 
     </script>
        
    </head>
    <body>
       
            <input id="img" type="file" size="45" name="file" class="input"/>
       <button class="button" id="buttonUpload" onclick="return ajaxFileUpload();">Upload</button>
    </body>
</html>
 