<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>分页显示列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<script type="text/javascript">
function delcfm() { 
    if (!confirm("确认要删除？")) { 
        window.event.returnValue = false; 
    } 
}

	function jump(){
		// 获得用户输入页码
		var pNum = document.getElementById("pNum").value;
		location.href="/user/listbyid/"+pNum;
	}
</script>



<!-- CSS goes in the document HEAD or added to your external stylesheet -->


<!-- Table goes in the document BODY -->
  </head>

  <body>
  
  <div class="container" align="center">

  <div class="page-header">
    <h1>用户列表展示 </h1>
     <h1> <small>分页展示用户列表页面</small> </h1>
  </div>
  
<table class="imagetable" >
    <tr class="sidebar-module">
      <th>id</th>
      <th>name</th>
      <th>PASSWORD</th>
      <th>Process</th>
    </tr>
    <tr th:each="user: ${list}" class="sidebar-module">
      <td th:text="${user.getId()}">Onions</td>
      <td th:text="${user.getName()}">2.41</td>
      <td th:text="${user.getPassword()}">yes</td>
      <td >
      <a href="#" th:href="@{'/user/delete/'+${user.getId()}(curpage=${currentpage})}" th:text="删除" onClick="delcfm()"></a>
      ||<a href="#" th:href="@{'/user/update/'+${user.getId()}(curpage=${currentpage})}" th:text="编辑" ></a>
      </td>
    </tr>
    <tr>
    <td>共：<a th:text="${num}"></a> 页 </td>
  <td><a href="#" th:href="@{'/user/listbyid/'+${currentpage-1}}"  th:text="上一页" th:if="${currentpage !=1}" class="previous">上一页</a></td>
  <td><a href="#" th:href="@{'/user/listbyid/'+${currentpage+1}}"  th:text="下一页" th:if="${currentpage lt num}" class="previous">下一页</a></td>
    <td>当前是第 <a th:text="${currentpage}"></a>页 </td>   
    </tr>
    <tr >
    <td class="row" align="right" colspan="4" th:if="${currentpage lt num}">
     <input type="text" id="pNum" size="3" /><input type="button" value="跳转" onclick="jump()"/>
     </td>
    </tr>
  </table>
  
   </div>    
  </body>

</html>