<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 <script language="javascript"> 
    function delcfm() { 
        if (!confirm("是否保存？")) { 
            window.event.returnValue = false; 
        } 
    } 
</script>
  
  </head>

  <body>
  <div class="page-header">
    <h1>更新页面 </h1>
    
    <form action="#" th:action="@{/user/update}" th:object="${user}" th:method="post">
    <table class="imagetable" > 
    <tr>
    <td>学生ID</td>
    <td><input type="text" id="id"   width="100%"  th:field="*{id}" /></td>
    </tr>
    
    <tr>
    <td>学生姓名</td>
    <td><input type="text" id="name"  width="100%"   th:field="*{name}" /></td>
    </tr>
    
    <tr>
    <td>学生密码</td>
    <td><input type="text" id="password" width="100%"  th:field="*{password}" /></td>
    </tr>
    <tr>
    <td colspan="2"> <input type = "submit" value="提交" onClick="delcfm()"/></td>
    </tr>
    </table>
    <input type="hidden" id = "curpage" value="${curpage}"/>
    </form>
  </div>

  </body>

</html>